aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.7.0
av==14.0.1
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
coloredlogs==15.0.1
ctranslate2==4.3.1
deptry==0.21.1
exceptiongroup==1.2.2
fastapi==0.115.6
faster-whisper==1.1.0
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.10.0
h11==0.14.0
huggingface-hub==0.27.0
humanfriendly==10.0
idna==3.10
joblib==1.4.2
mpmath==1.3.0
nltk==3.9.1
numpy==2.0.2
onnxruntime==1.19.2
packaging==24.2
pandas==2.2.3
protobuf==5.29.1
pydantic==2.10.3
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requirements-parser==0.11.0
safetensors==0.4.5
six==1.17.0
sniffio==1.3.1
starlette==0.41.3
sympy==1.13.3
tokenizers==0.21.0
tomli==2.2.1
torch==1.9.0
torchaudio==0.9.0
tqdm==4.67.1
transformers==4.47.1
types-setuptools==75.6.0.20241126
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.34.0
