aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyio
asteroid-filterbanks
attrs
audioread
av
certifi
cffi
charset-normalizer
click
coloredlogs
colorlog
contourpy
ctranslate2
cycler
decorator
dnspython
docopt
einops
email_validator
fastapi
fastapi-cli
faster-whisper
filelock
flatbuffers
fonttools
frozenlist
fsspec
greenlet
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
HyperPyYAML
idna
Jinja2
joblib
julius
kiwisolver
lazy_loader
librosa
lightning
lightning-utilities
llvmlite
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
msgpack
multidict
networkx
nltk
numba
numpy
omegaconf
onnxruntime
optuna
packaging
pandas
pillow
platformdirs
pooch
primePy
propcache
protobuf
pyannote.audio==0.0.1
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
regex
requests
rich
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
semver
sentencepiece
setuptools
shellingham
six
sniffio
sortedcontainers
soundfile
soxr
speechbrain
SQLAlchemy
starlette
sympy
tabulate
tensorboardX
threadpoolctl
tokenizers
torch==1.9.0
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
yarl
